*{
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#container{
    margin: 100px;
}
h1{
background-color: rgb(194, 194, 194);
padding: 30px;
margin-bottom: 30px;
color: rgb(85, 84, 84);
}
#one{
    background-color: #3385ff;
    padding: 5px;
}
#two{
    background-color: #4d94ff;
    padding: 5px;
}
#three{
    background-color: #66a3ff;
    padding: 5px;
}
#four{
    background-color: #80b3ff;
    padding: 5px;
}
#five{
    background-color: #99c2ff;
    padding: 5px;
}
#six{
    background-color: #b3d1ff;
    padding: 5px;
}
#seven{
    background-color: #cce0ff;
    padding: 5px;
}
#eight{
    background-color:  #00b359;
    padding: 5px;
}
#nine{
    background-color:  #ffccdd;
    padding: 5px;
}
#ten{
    background-color:  #ffb3cc;
    padding: 5px;
}
#elven{
    background-color:  #ff99bb;
    padding: 5px;
}
#twelve{
    background-color: #ff80aa;
    padding: 5px;
}
#thirteen{
    background-color:  #ff6699;
    padding: 5px;
}
#fourteen{
    background-color:  #ff4d88;
    padding: 5px;
}
#fifteen{
    background-color:  #ff3377;
    padding: 5px;
}
